<script>
  var elementoAtivo = document.getElementsByClassName("active");
  elementoAtivo[0].classList.remove('active');
  var elemento = document.getElementById("home");
  elemento.classList.add("active");
</script>
<div align="center">
    <img src="/img/home2.jpeg" width="800px" height="800px" alt="">
</div>
