<style>
    .teste {
        background-image: url(/img/home1.jpg);
        background-attachment: fixed;
        padding: 100% 100% 100% 100%;
    }
</style>
<div class="teste">
    <div class="card mt-4 bg-info position-absolute top-50 start-50 translate-middle " style="width: 30rem;">
        <div class="card-header bg-secondary text-white">
            <h2 align="center" class="mt-1">  <img src="/img/household2.png" width="60px" height="60px" alt="">
            CleaningSquad APP </h2>
        </div>
        <div class="card-body">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email: </label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha: </label>
                    <input type="password" class="form-control" id="senha" name="senha" aria-describedby="senha">
                </div>
                <div class="row g-3 align-items-center" align="center">
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-dark">Entrar</button>
                    </div>
                    <div class="col-md-1">
                        <button type="reset" class="btn btn-dark">Limpar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>