<script>
  var elementoAtivo = document.getElementsByClassName("active");
  elementoAtivo[0].classList.remove('active');
  var elemento = document.getElementById("novoCliente");
  elemento.classList.add("active");
</script>


<div class="card">

  <div class="card-header text-white" style="background-color:lightslategray">
    <div class="row g-3">
      <div class="col-1">
        <img class="rounded mx-auto d-block" src="/img/add.png" width="60px" heigth="60px" alt="">
      </div>
      <div class="col-11 mt-4">
        <h1>Novo Cliente</h1>
      </div>
    </div>
  </div>
  <div class="card-body bg-info">
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email" required="true"
          aria-describedby="email">
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">Primeiro Nome</label>
        <input type="text" class="form-control" name="first_name" id="first_name" required="true">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Último Nome</label>
        <input type="text" class="form-control" name="last_name" id="last_name" required="true">
      </div>
      <div class="row g-3 mb-3">
        <div class="col-md-6">
          <label for="SSN" class="form-label">SSN</label>
          <input type="text" class="form-control" id="SSN" name="ssn" required="true">
        </div>
        <div class="col-md-6">
          <label for="phone" class="form-label">Telefone</label>
          <input type="text" class="form-control" id="phone" name="phone" required="true">
        </div>
      </div>
      <div align="center">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="reset" class="ms-3 btn btn-primary">Limpar</button>
      </div>
    </form>
  </div>
</div>